:root {
    --fondo-negro: #1e2533;
    --fondo-azul: #12181cff;
    --fondo-azul-hover: rgb(25, 33, 38);
    --fondo-tarjeta: #181e29;
    --fondo-json: #27303b;
    --fondo-rojo: #940b0c;
    --texto-gris: #cdcecf;
    --texto-gris-menos: #797979;


    --color-inicio: #ff000040;
    --color-enemigo: #005c1968;
    --color-raza: #9c870268;
    --color-clase: #ff6a0068;
    --color-equipo: #6e6d6d68;
    --color-magic: #00189068;
    --color-vida: #70033468;
    --color-comp: linear-gradient(-45deg,
            rgba(255, 106, 0, 0.422) 50%,
            rgba(112, 3, 52, 0.68) 50%);

    --rojo-json: #c5625b;
    --verde-json: #69ab74;
    --naranja-json: #6a3cc5;
}

.color-enemigo {
    background-color: var(--color-enemigo);
}

.color-razas {
    background-color: var(--color-raza);
}

.color-clases {
    background-color: var(--color-clase);
}

.color-equipo {
    background-color: var(--color-equipo);
}

.color-magic {
    background-color: var(--color-magic);
}

.color-vida {
    background-color: var(--color-vida);
}

.color-comp {
    background-image: var(--color-comp);
}

.color-rojo {
    background-color: var(--fondo-rojo);
}

.color-propiedad {
    color: var(--rojo-json);
}

.color-string {
    color: var(--verde-json);
}

.color-integer {
    color: var(--naranja-json);
}

@font-face {
    font-family: NotoSans;
    src: url(../fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family: Kelm;
    src: url(../fonts/Kelm.otf);
}