* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;

    background-color: var(--fondo-negro);
    color: var(--texto-gris);
    font-family: NotoSans;
}

/* ===== Barra de desplazamiento ===== */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--fondo-negro);
}

::-webkit-scrollbar-thumb {
    background: var(--color-inicio);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--fondo-rojo);
}

/* ===== Interior ===== */

#main {
    width: 88%;

    padding: 8px;
    margin-left: 12%;

    display: block;
}

#banner {
    width: 100%;
    height: fit-content;

    position: relative;
}

#banner>img {
    width: 100%;

    border-radius: 16px;
}

#banner>h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Kelm;

    color: white;
    font-size: 100px;
}

/* ===== Secciones ===== */

.seccion {
    margin: 12px;
    margin-bottom: 36px;
    padding: 16px;
    border-radius: 8px;

    background-color: var(--fondo-tarjeta);
}

.seccion>h1 {
    font-size: 35px;
}

.seccion>h2 {
    font-size: 22px;
}

.texto-gris {
    color: var(--texto-gris-menos);
    font-size: 18px;
}

.seccion>.separador {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 6px;
    border-radius: 4px;
}

.seccion>.p-peticion {
    margin-top: 24px;
    margin-bottom: 12px;
}

.tipo-peticion {
    padding: 8px;
    margin-right: 12px;
    border-radius: 8px;
    font-weight: 900;
}

.p-peticion>a {
    color: var(--texto-gris);
    font-size: 18px;
}

/* ===== Contendor JSON ===== */

.contenedor-json {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 50%;

    font-size: large;
    background-color: var(--fondo-json);
    border-radius: 8px;
}

/* ===== Tabla Entidad ===== */

.seccion>table {
    width: 50%;
    margin: 12px;

    text-align: left;
    border-collapse: separate;
    border-spacing: 0 8px;
}

td>a {
    color: var(--fondo-rojo);
}


#inicio {
    height: fit-content;
    margin: 10px;
}